*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
.passwordBox{
    box-shadow: 0px 0px 5px #b92a11;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 360px;
}
.passwordBox h2{
    margin-top: 10px;
    text-align: center;
}
.password-value-container{
    background-color: rgb(228, 200, 200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:30px;
    border-radius: 12px;
}

.password-value-container p{
    padding: 10px;
    font-size: large;
    height: 50px;
}
.password-value-container i{
    
    font-size: x-larger;
    margin-right: 15px;
    display: flex;
}
.option-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
    box-shadow: 0px 0px 7px rgb(218, 213, 159);
    padding: 5px;

}
.option label{
    font-size: larger;
    padding-left: 20px;
}
.option input{
    width: 50px;
    height: 20px;
}
.option input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
.button-container{
    display: flex;
    justify-content: center;
    margin:20px;

}
#generatePassword{
    padding: 15px;
    background-color: #af4644;
    border: none;
    border-radius: 10px;
    color:white;
    font-size: larger;
    box-shadow: 5px 5px 1px rgb(35, 33, 33);
    transition:  all 0.5s;
    

}
#generatePassword:hover{
    cursor:pointer;
}
#generatePassword:active{
    box-shadow:none;
    transition:  all 0.5s;
}
.Background{
    background-color: black;
}
